.idea/
server/node_modules/
server/build/
server/coverage/

client/node_modules/
client/dist/
client/coverage/
# Playwright
client/test-results/
client/playwright-report/
client/blob-report/
client/playwright/.cache/